
.introduction {
  background-image: url("./image/vision_bg.png"); /* 背景画像のパスを指定 */
  background-size: cover; /* 画像がコンテナを完全に覆うようにサイズ調整 */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返し無し */
  padding: 20px; /* 内容と背景画像の間のスペース */
  color: white; /* テキストカラーを白に設定 */
}

@media (max-width: 768px) {
  .introduction {
    padding: 10px; /* 小さい画面ではパディングを減らす */
    background-position: top center; /* 小さい画面では画像の位置を調整するかもしれない */
  }
}

#syoumei_setumei{
    color: #000000;
    font-size: 70px;
    text-align: center;
}

#syoumei_img{
    width: 100%;
    height: 100%;
}


h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.center-text {
    text-align: center;
    font-size: 30px;
}

.serihu {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: auto;
    min-width: 150px;
    max-width: 450px;
    margin-left: 20%;
    line-height: 34px;
    font-size: 20px;
    border: 3px solid #1d4592;
    z-index: 0;
}

.content1{
    margin:5rem 10rem;
}

.character_beer{
    height:30rem;
    width:auto;
    margin-left:10rem;
}

.flex{
    display:flex;
}

.first_question{
    font-size:5rem;
    text-align:center;
}

.text1{
    margin-top:8rem;
    font-size:1.8rem;
}

.text2{
    font-size:2rem;
    margin-top:2rem;
}

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }
  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .scroll-infinity__list--left {
    animation: infinity-scroll-left 10s infinite linear 0.5s both;
  }
  .scroll-infinity__item {
    width: calc(100vw / 6);
  }
  .scroll-infinity__item > img {
    width: 100%;
  }



.footer{
    height:40vh;
    background-color:#1285BC;
    color:white;
    text-align:center;
}

.footer li{
    list-style:none;
}

.text3{
    padding-top:1rem;
}

.logo-adjust{
  padding:2rem;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in-visible {
  opacity: 1;
}