
#syoumei_setumei{
    text-align: center;
}

#syoumei_img{
    display: flex;
    justify-content: center;
    background-image: url('syoumei_back.jpg');
}

#syoumei_img1{
    width: 600px;
    height: 500px;
    border: 7px solid #52c7df;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

#syoumei_img2{
    width: 600px;
    height: 500px;
    border: 7px solid #52c7df;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    margin-left: 60px;
}

#syoumei_memo{
    position: absolute;
    top: 14%; 
    left: 70%; 
    transform: rotate(20deg);
    background-color: rgb(255, 223, 106); 
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 10px; 
    color: #000; 
    font-size: 22px; 
    font-weight: 700;
}

#syoumei_memo2{
    position: absolute;
    top: 13%; 
    left: 30%; 
    transform: rotate(20deg);
    background-color: rgb(255, 223, 106); 
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 10px; 
    color: #000; 
    font-size: 22px; 
    font-weight: 700;
}

body {
    margin: 50px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.center-text {
    text-align: center;
    font-size: 30px;
}

.serihu {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: auto;
    min-width: 150px;
    max-width: 450px;
    margin-left: 20%;
    line-height: 34px;
    font-size: 20px;
    border: 3px solid #1d4592;
    z-index: 0;
}

.content1{
    margin:5rem 10rem;
}

.character_beer{
    height:30rem;
    width:auto;
    margin-left:10rem;
}

.flex{
    display:flex;
}

.first_question{
    font-size:5rem;
    text-align:center;
}

.text1{
    margin-top:8rem;
    font-size:1.8rem;
}

.text2{
    font-size:2rem;
    margin-top:2rem;
}

@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
  .scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
  }
  .scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .scroll-infinity__list--left {
    animation: infinity-scroll-left 10s infinite linear 0.5s both;
  }
  .scroll-infinity__item {
    width: calc(100vw / 6);
  }
  .scroll-infinity__item > img {
    width: 100%;
  }
